img{
width: 24rem;
}

a{
  display: flex;
  text-decoration: none;
  color:black;
}
a:visited{
  color:black;
}
#link1{
grid-column-start: 1;
padding: 10px;
}
#link2{
grid-column-start: 2;
padding: 10px;
}
#link3{
  grid-column-start: 1;
  padding: 10px;
} 
#link4{
  grid-column-start: 2;
  padding: 10px;
}

h2{
  text-align: center;
  font-size: 50px;
  color: azure;
}
p{
  color: azure;
  font-size: 30px;
}
.image-grid{
  box-sizing: border-box;
  padding: 16px;
  display: grid;
  grid-template-columns: 2,1fr;
  width: 100%;
}
#healthBar{
  accent-color: red;
  text-align: left;
}
#manaBar{
 accent-color:  blue;
}


.combatPage{
  display:flex;
  justify-content: space-between;
}

.PLAYER{
  display:flex;
  flex-direction: column;
}
.combatOutput{
  overflow: auto;
  position: relative;
  text-align: center;
  left: 5rem;
  
  height: 40rem;
  width: 50rem;
}
.combatMenu{
  font-size: 100px;
  text-align: center;
  margin-left: auto;
  margin-right:auto ;
  height: 20rem;
  width: 50rem;
}
.combatButton{
  font-size: 25px;
}

#start{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35rem;
    border-radius: 20px;
    font-size: 80px;
}

body{
  background-color: black;
  background-image: url("/images/bgImage.jpg");
  background-position: center;
  background-size: cover;
  /* overflow: hidden; */
}

#playerHealth{
  font-size: 2rem;
  color: red;
}

#playerMana{
  font-size: 1.6rem;
  color: blue;
}
#enemyHealth{
  font-size: 2rem;
  color: red;
  position: relative;
  left: 30rem;
  top: 0rem;
}
#enemyClassImage{
  top: 6rem;
  position: relative;
  left: 0rem;
}

#enemyClassImage2{
  top: 6rem;
  position: relative;
  left: 0rem;
}
#enemyHealthBar{
  accent-color: red ;
  position:relative;
  left: 24rem;
  top: 5rem;
width: 10%;
}